.list-group-item {
  line-height: 30px;
  border-radius: 10px;
}

.button {
  margin: 10px;
}

.edit {
  float: right;
}

.title {
  color: white;
}

.grid {
  all: unset;
  display: grid;
  grid-gap: 5vh 3vw;
  border-radius: 10px;
  margin: 20px 0;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100%;
}

.box {
  /* width: 19%; */
  height: 30vh;
  border: none;
  transition: 1s;
}

.cnv-btn {
  margin: 10px;
}
